profiles {
  standard {

    singularity.enabled = 'true'
    singularity.autoMounts = 'true'

    // path to the singularity containers
    params.sif_dir = "${baseDir}/singularity_images"

    process {

      withName:abricate {
        container = "${params.sif_dir}/abricate.sif"
      }

      withName:afanc {
        container = "${params.sif_dir}/afanc.sif"
      }

      withName:quast {
        container = "${params.sif_dir}/quast.sif"
      }

      withName:shovill {
        container = "${params.sif_dir}/shovill.sif"
      }

      withName:trimgalore {
        container = "${params.sif_dir}/trimgalore.sif"
      }
    }
  }
}
